---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
// import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/blog-placeholder-1.jpg" } = Astro.props;
---

<!-- Global Metadata --><!-- <meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<meta name='generator' content={Astro.generator} /> --><!-- Font preloads --><!-- <link
  rel='preload'
  href='/fonts/atkinson-regular.woff'
  as='font'
  type='font/woff'
  crossorigin
/>
<link
  rel='preload'
  href='/fonts/atkinson-bold.woff'
  as='font'
  type='font/woff'
  crossorigin
/> --><!-- Canonical URL --><!-- <link rel='canonical' href={canonicalURL} /> --><!-- Primary Meta Tags -->
<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />

<meta charset='utf-8' />
<meta content='width=device-width, initial-scale=1.0' name='viewport' />

<!-- Favicons -->
<link href='/assets/img/favicon.png' rel='icon' />
<link href='/assets/img/apple-touch-icon.png' rel='apple-touch-icon' />

<!-- Google Fonts -->
<link rel='preconnect' href='https://fonts.googleapis.com' />
<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
<link
  href='https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap'
  rel='stylesheet'
/>

<!-- Vendor CSS Files -->
<link href='/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet' />
<link
  href='/assets/vendor/bootstrap-icons/bootstrap-icons.css'
  rel='stylesheet'
/>
<link href='/assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet' />
<link href='/assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet' />
<link href='/assets/vendor/aos/aos.css' rel='stylesheet' />

<!-- Template Main CSS Files -->
<link href='/assets/css/variables.css' rel='stylesheet' />
<link href='/assets/css/main.css' rel='stylesheet' />
