---
import { getCollection } from "astro:content";
import SideBar from "./SideBar.astro";
import FormattedDate from "./FormattedDate.astro";

const { category } = Astro.props;
// console.log({ category });

const postsByCategory = (await getCollection("blog")).filter(
  (post) =>
    post.data.category.toLowerCase() === category ||
    post.data.category.toLowerCase().includes(category)
);
// console.log({ postsByCategory });
---

<section>
  <div class='container'>
    <div class='row'>
      <div class='col-md-9' data-aos='fade-up'>
        <h3 class='category-title'>Category: {category}</h3>

        {
          postsByCategory.length !== 0 ? (
            postsByCategory.map((post) => (
              <div class='d-md-flex post-entry-2 half'>
                <a href={`/blog/${post.slug}`} class='me-4 thumbnail'>
                  <img
                    src={post.data.heroImage}
                    alt={post.data.title}
                    class='img-fluid'
                  />
                </a>
                <div>
                  <div class='post-meta'>
                    <span class='date'>{post.data.category}</span>
                    <span class='mx-1'>&bullet;</span>
                    <span>
                      <FormattedDate date={post.data.pubDate} />
                    </span>
                  </div>
                  <h3>
                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                  </h3>
                  <p>{post.data.description}</p>
                  <div class='d-flex align-items-center author'>
                    <div class='photo'>
                      <img
                        src='/image-placeholder.jpg'
                        alt={post.data.author}
                        class='img-fluid'
                      />
                    </div>
                    <div class='name'>
                      <h3 class='m-0 p-0'>{post.data.author}</h3>
                    </div>
                  </div>
                </div>
              </div>
            ))
          ) : (
            <center>No posts yet about!</center>
          )
        }

        <!-- <div class='text-start py-4'>
          <div class='custom-pagination'>a
            <a href='#' class='prev'>Prevous</a>
            <a href='#' class='active'>1</a>
            <a href='#'>2</a>
            <a href='#'>3</a>
            <a href='#'>4</a>
            <a href='#'>5</a>
            <a href='#' class='next'>Next</a>
          </div>
        </div> -->
      </div>

      <SideBar />
    </div>
  </div>
</section>
